img{
    height: 200px;
    width: 200px;
    
}

body{
    background-color: black;
}

.body {
    background-image: url("./images/hotel-wallpaper-black.png");
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

blockquote mb-0{
    font-family: 'Dancing Script', cursive;

}